body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #d9e6d4; /* Fond pastel doux */
    color: #2c3e50;
}


.competences {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}

.competences h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.competence {
    display: flex;
    background: #c1d3b3; /* Fond des blocs */
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid #2c3e50; /* Bordure foncée */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1.5rem;
}

.competence:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.competence-items h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.competence-items p {
    font-size: 1.2rem;
    color: #2c3e50;
    margin-bottom: 2.5rem;
}

.btn {
    width: 400px;
    border-radius: 70px;
    background-color: #9cc5a1;
    border: none;
    
}

button li {
    list-style: none;
}

button li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-wrap: nowrap;
    color: white;

}

.competence img{
    width: 400px;
    height: 300px;
}

/* Effet de grille pour les compétences */
@media (min-width: 768px) {
    .competences-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}


@media screen and (min-width: 300px) and (max-width: 767px) {
    .competences {
        display: flex;
        flex-direction: column;
        padding-left: 2px;
    }
    .competences h1 {
        font-size: 1.5rem;
    }
    .competences button{
        margin-left: 5px;
    }

    .competence {
        width: 90%;
        display: block;
        margin-left: 0;
    }

    .competence img {
        width: 100%;
        height: auto;
    }

    .btn a{
        font-size:1rem;
    }

    .btn {
        width: 100%;
    }
    
}