/*.menu-toggle {
    display: none;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
    
        .menu-toggle {
            display: block;
            width: 100%;
            text-align: left;
        }
    
        nav ul {
            display: none;
            flex-direction: column;
            background: #333;
            padding: 0;
        }
    
        nav ul li {
            display: block;
            text-align: center;
            padding: 10px 0;
        }
    
        nav ul li a {
            color: white;
            text-decoration: none;
            display: block;
        }
    
        nav.active ul {
            display: flex;
        }
    }*/


    .menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #9cc5a1;
        transition: 0.3s;}

        .contact-icon a {
            font-size: 40px;
            text-decoration: none;
        }

        .contact-icon{
            position: relative;
            right: 50%;
        }

        @media screen and (min-width: 768px) and (max-width: 1600px){
            .contact-icon {
                display: none;
            }
        }


        @media screen and (min-width: 300px) and (max-width: 767px){
            .contact-icon a{
                display: block;
            }

    .menu-toggle {
        display: flex;
    }
    .nav-bar {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 48px;
        left: -250px;
        width: 200px;
        height: 90%;
        background: #055730;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
        padding: 10px 10px 0 15px ;
        transition: left 0.3s ease-in-out;
    }
    .nav-bar.active li a {
       font-size: 1.5rem;
    }

    .nav-bar.active {
        left: 0;
        display: flex;
    }
   
    #header button:nth-of-type(2){
        display: none;
    }
}