body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    padding: 2rem;
    background-color: #2c3e50;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Section Portfolio */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1100px;
    margin: auto;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

/* Effet de survol */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.overlay p {
    font-size: 1rem;
    width: 80%;
}

.button-container {
    text-align: center;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
}

button a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #2c3e50;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 280px;
    font-weight: bold;
    font-size: 0.8rem;
}

button:hover{
   scale: 0.9;  
   background-color: #0e365ee1;  
}

@media screen and (min-width: 300px) and (max-width:600px) {
    .button-container {
        align-items: center;
     text-align: center;
        flex-direction: column;
    }
    
}