body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #d9e6d4; /* Couleur de fond pastel */
    color: #2c3e50;
}

.about-me {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}

.about-me h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-me p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #34495e;
}

.propos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    padding: 20px;
}

.propos-item {
    background: #c1d3b3; /* Fond des cartes */
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid #2c3e50; /* Bordure foncée */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.propos-item:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.propos-item h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.propos-item p {
    font-size: 1.1rem;
    color: #2c3e50;
}

/* Image flottante */
.propos-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    transform: rotate(3deg);
    position: relative;
    left: 2px;
    margin-top: 20px;
}

.btn {
    width: 400px;
    border-radius: 70px;
    background-color: #9cc5a1;
    border: none;
    
}

button li {
    list-style: none;
}

button li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-wrap: nowrap;
    color: white;

}


@media screen and ((min-width: 300px) and (max-width: 767px)) {

    .propos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .propos-item {
        width: 100%;
    }

    .propos-image {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    button {
        width: 100%;
    }

    button a {
        font-size: 1.2rem;
    }

    .about-me h1 {
        font-size: 2rem;
    }

    .about-me p {
        font-size: 1rem;
    }
}




@media screen and ((min-width: 768px) and (max-width: 1023px)) {
    .propos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    
}
